h2,
h3 {
  margin-block-start: 1.2rem;
  margin-block-end:1.4rem;
}
.content main {
  max-width:66ch;
  margin:auto
}

.center {
  text-align: center;
  margin: auto;
}

div img {
  width: 100%;
  border-radius: 0.5rem;
  background-color: #d1d1d1;
}

div.w50 {
  max-width: 50ch;
}
div.w40 {
  max-width: 40ch;
}
div.w30 {
  max-width: 30ch;
}
div.w25 {
  max-width: 25ch;
}
div.w20 {
  max-width: 20ch;
}


ol li {
  margin: calc(1rem + var(--scaler_h)) 0;
}

main ol {
  list-style: none;
  counter-reset: num;
}

main ol > li {
  counter-increment: num;
}

main ol > li > p {
  display: inline-block;
  margin: 0.5rem 0;
}

main li {
  margin: calc(0.7rem + 0.8vh) 0;
}

main ol > li::before {
  content: counter(num) ". ";
}




/* /* Instead of using em like original, use vh,vw and rem, and scale all */
/*  * with font-size if needed. */ */
/* :root { */
/*     --scaler_w:1vw; */
/*     --scaler_h:1.8vh; */
/*     --font_size: calc(1rem + var(--scaler_h)); */
/*     --sidebar-resize-indicator-width: 3rem; */
/*     --sidebar-resize-indicator-space: 3rem; */
/*     --sidebar-target-width: 25rem; */
/*     --sidebar-width: min(var(--sidebar-target-width), 80vw); */
/*     --page-padding: calc(1.3rem + var(--scaler_w)); */
/*     --content-max-width: 72rem; */
/*     --menu-bar-height: calc(1rem + var(--scaler_h) + 3vh); */
/*     --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace; */
/*     --searchbar-margin-block-start: calc(1rem + var(--scaler_h)); */
/* } */
/* html { */
/*     font-family: "Ubuntu", "system-ui", "sans-serif"; */
/* } */
/**/
/* body { */
/*   margin:auto; */
/*   padding-top:calc(0.5rem + 1vh); */
/* } */
/* body, input, code { font-size:var(--font_size) } */
/* svg { */
/*     width: calc(1.5*var(--font_size))!important; */
/*     height: calc(1.5*var(--font_size))!important; */
/* } */
/**/
/* .js .sidebar .sidebar-resize-handle { */
/*     cursor: col-resize; */
/*     width: calc(var(--font_size)); */
/*     padding:0.3vw */
/* } */
/**/
/* .sidebar .sidebar-resize-handle { */
/*     position: relative; */
/*     cursor: col-resize; */
/*     width: content-width; */
/*     left: var(--sidebar-width); */
/*     top: 0; */
/*     bottom: 0; */
/*     display: flex; */
/*     align-items: center; */
/*     height: 100vh; */
/*     background: transparent; */
/*     justify-content: center; */
/* } */
/* .sidebar-resize-handle .sidebar-resize-indicator { */
/*     width: calc(var(--font_size)); */
/*     height: calc(var(--font_size)*3); */
/*     color: var(--icons); */
/*     margin-inline-start: unset; */
/*     /* margin-inline-start: var(--sidebar-resize-indicator-space); */ */
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: center */
/* } */
/* .sidebar-resize-handle .sidebar-resize-indicator::before, */
/* .sidebar-resize-handle .sidebar-resize-indicator::after{ */
/*     border-left: dotted calc(var(--font_size)/5) currentColor; */
/* } */
/**/
/* .sidebar-resize-handle .sidebar-resize-indicator::before { */
/*     width: calc(var(--font_size)/3); */
/*     height: var(--font_size) */
/* } */
/**/
/* .sidebar-resize-handle .sidebar-resize-indicator::after { */
/*     width: calc(var(--font_size)/3); */
/*     height: calc(1.5*var(--font_size)) */
/* } */
/* #mdbook-content{ */
/*   padding-left: 2vw; */
/* } */
/* nav.sidebar { */
/*   /* min-width:18ch; */ */
/*   width: var(--sidebar-width); */
/*   font-size: inherit; */
/* } */
/**/
