/* Instead of using em like original, use vh,vw and rem, and scale all
 * with font-size if needed. */
:root {
    --sidebar-target-width: 40rem;
    --scaler_w:1vw;
    --scaler_h:1.8vh;
    --sidebar-width: min(var(--sidebar-target-width), 80vw);
    --sidebar-resize-indicator-width: calc(0.75rem + var(--scaler_w));
    --sidebar-resize-indicator-space: calc(0.3rem + var(--scaler_w));
    --page-padding: calc(1.3rem + var(--scaler_w));
    --content-max-width: 72rem;
    --menu-bar-height: calc(1rem + var(--scaler_h) + 3vh);
    --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    --searchbar-margin-block-start: calc(1rem + var(--scaler_h));
}
html {
    font-family: "Ubuntu", "system-ui", "sans-serif";
}

body {
  margin:auto;
  padding-top:calc(0.5rem + 1vh);
}
body, .fa-svg, input, code {
  font-size:calc(0.9rem + var(--scaler_h));
}
svg {
  font-size:calc(1rem + var(--scaler_h))!important;
}
#mdbook-content{
  padding-left: 2vw;
}
.content main {
  max-width:66ch;
  margin:auto
}
nav.sidebar {
  width:var(--sidebar-width);
  font-size: inherit;
}

main p { margin:calc(0.2rem + var(--scaler_h)) 0;}
h2,
h3 {
  margin-block-start: calc(1rem + 2vh);
}

.center {
  text-align: center;
  margin: auto;
}

div img {
  width: 100%;
  border-radius: 0.5rem;
  background-color: #d1d1d1;
}

div.w50 {
  max-width: 50ch;
}
div.w40 {
  max-width: 40ch;
}
div.w30 {
  max-width: 30ch;
}
div.w25 {
  max-width: 25ch;
}
div.w20 {
  max-width: 20ch;
}

/* Were originally pixels */
div.w420 {
  max-width: 50ch;
}
div.w320 {
  max-width: 30ch;
}

ol li {
  margin: calc(1rem + var(--scaler_h)) 0;
}

main ol {
  list-style: none;
  counter-reset: num;
}

main ol > li {
  counter-increment: num;
}

main ol > li > p {
  display: inline-block;
  margin: 0.5rem 0;
}

main li {
  margin: calc(0.7rem + 0.8vh) 0;
}

main ol > li::before {
  content: counter(num) ". ";
}

html:is(.ayu) main ol > li::before {
  color: inherit;
}

html:is(.rust, .light) main ol > li::before {
  color: #248eb8;
}

html:is(.coal, .navy) main ol > li::before {
  color: #ffa500;
}
